<div class="container flex-grow-1  d-flex justify-content-center  align-items-center ">
    <div class="card shadow-lg border-0 rounded-lg bg-light p-4 rounded  col-lg-5">
        <div class=" d-flex justify-content-center ">
            <h2 class="fw-bold">Đăng ký</h2>
        </div>

        {{#if error_msg}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error_msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
        </div>
        {{/if}}
        {{#if success_msg}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success_msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
        </div>
        {{/if}}
        {{#if success_msg}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success_msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
        </div>
        {{/if}}

        <form action="/auth/register" id="register-form" method="POST">
            <div class="form-floating mb-3">
                <input type="text" name="name" id="nameInput" placeholder="Nhập tên của bạn" class="form-control"
                    value="{{old_values.name}}">
                <label for="nameInput">Tên</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password1" id="passwordInput" placeholder="Nhập mật khẩu" class="form-control">
                <label for="passwordInput" class="form-label">Mật khẩu</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password2" id="confirmPasswordInput" placeholder="Xác nhận mật khẩu"
                    class="form-control">
                <label for="confirmPasswordInput" class="form-label">Xác nhận mật khẩu</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" name="email" id="emailInput" placeholder="example@gmail.com" class="form-control"
                    value="{{old_values.email}}">
                <label for="emailInput">Email </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="address" class="form-control" id="addressInput" placeholder="Nhập địa chỉ"
                    value="{{old_values.address}}">
                <label for="addressInput">Địa chỉ</label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Đăng ký</button>
            </div>
            <div id="password-error" class="text-center" style="display: none; color:crimson" role="alert"></div>
            <div class=" mb-3 d-flex justify-content-center">
                <span class=" pe-1">Nếu bạn đã có tài khoản,</span>
                <a href="/auth/login" class="">đăng nhập tại đây</a>
            </div>
            <div class="mb-3 d-flex">
                <hr class="flex-grow-1">
                <span class="mx-2 text-muted">hoặc</span>
                <hr class="flex-grow-1">
            </div>
            <div class="mb-3">
                <a href="/auth/google" class="btn btn-danger w-100" role="button">
                    <i class="fab fa-google me-2"></i>
                    Tiếp tục với Google
                </a>
            </div>
        </form>
    </div>
</div>