<div class="container p-4">
    <div class="p-2">
        <h2 class="text-primary fw-bold ">
            Các sản phẫm đang đấu giá
        </h2>
    </div>

    <div class="p-2 container">
        <div class="row">
         {{#each products}}
            {{!-- {{th}} --}}
            <div class="card col-4 h-100" >
                <img src="{{imageUrl}}"
                    alt="{{name}}"
                    {{!-- class="card-img"  --}}
                    style="height: 200px;object-fit: cover;"
                >
                <div class="position-absolute top-0 start-0 m-2">
                    <span class="badge bg-primary"> {{category}}</span>
                </div>
                <div class="position-absolute top-0 end-0 m-2">
                    <span class="badge bg-danger"> 
                        <i class="bi bi-clock"></i>{{timeLeft}}
                    </span>
                </div>

                <div class="card-body">
                    <h5>{{name}}</h5>
                    <p>{{currentBid}} đ</p>
                    <div class="text-muted small">
                    <i class="bi bi-people-fill me-1"></i>
                    <span>{{bidCount}} lượt đấu giá</span>
                    </div>
                    <div class="mt-auto">
                        <a href="/products/{{id}}" class="btn btn-primary w-100">
                            <i class="bi bi-gavel"></i> Đấu giá ngay
                        </a>
                  </div>
                </div>

            </div>
        {{/each}}
        </div>
    </div>
    {{!-- {{#if pages}} --}}
        <nav  class="d-flex justify-content-center">
            <div class="btn-group" role="group" >
                <a href="/products/feed?page={{pagination.prevPage}}" class="btn btn-outline-primary {{#unless pagination.canGoPrev}}disabled{{/unless}}">
                        <i class="bi bi-chevron-left"></i> Trước
                </a>
                {{#each pagination.pages}}
                    {{!-- <li class="page-item"> --}}
                        <a href="/products/feed?page={{value}}" class="btn btn-outline-primary {{#if isActive}}active{{/if}}">{{value}}</a>
                    {{!-- </li> --}}
                {{/each}}
                <a href="/products/feed?page={{pagination.nextPage}}" class="btn btn-outline-primary {{#unless pagination.canGoNext}}disabled{{/unless}}">
                        Sau<i class="bi bi-chevron-right"></i> 
                </a>
            </div>
            
        </nav>
    {{!-- {{/if}} --}}

</div>



           {{!-- <ul class="pagination">
                <li class="page-item {{#unless pagination.canGoPrev}}disabled{{/unless}}">
                    <a href="/products/feed?page={{pagination.prevPage}}" class="page-link">
                        <i class="bi bi-chevron-left"></i> Trước
                    </a>
                </li>
                {{#each pagination.pages}}
                    <li class="page-item">
                        <a href="/products/feed?page={{value}}" class="page-link {{#if isActive}}active{{/if}}">{{value}}</a>
                    </li>
                {{/each}}
                <li class="page-item {{#unless pagination.canGoNext}}disabled{{/unless}}">
                    <a href="/products/feed?page={{pagination.nextPage}}" class="page-link">
                         Sau<i class="bi bi-chevron-right"></i>
                    </a>
                </li>
            </ul> --}}
